/*! jQuery UI - v1.12.1 - 2017-08-20
* http://jqueryui.com
* Includes: core.css, tabs.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=elw-app&bgImgOpacityError=20&bgImgOpacityHighlight=90&bgImgOpacityActive=30&bgImgOpacityHover=70&bgImgOpacityDefault=60&bgImgOpacityContent=100&bgImgOpacityHeader=45&cornerRadiusShadow=8px&offsetLeftShadow=-7px&offsetTopShadow=-7px&thicknessShadow=7px&opacityShadow=60&bgImgOpacityShadow=30&bgTextureShadow=flat&bgColorShadow=%23cccccc&opacityOverlay=80&bgImgOpacityOverlay=50&bgTextureOverlay=flat&bgColorOverlay=%235c5c5c&iconColorError=%23ffe180&fcError=%23ffffff&borderColorError=%23ffb73d&bgTextureError=diagonals_medium&bgColorError=%23d34d17&iconColorHighlight=%23ed9f26&fcHighlight=%231f1f1f&borderColorHighlight=%23eeb420&bgTextureHighlight=gloss_wave&bgColorHighlight=%23fff9e5&iconColorActive=%23eb990f&fcActive=%230074c7&borderColorActive=%23655e4e&bgTextureActive=inset_soft&bgColorActive=%23ffffff&iconColorHover=%23bd7b00&fcHover=%23381f00&borderColorHover=%23a45b13&bgTextureHover=gloss_wave&bgColorHover=%23ffdd57&iconColorDefault=%233d3d3d&fcDefault=%234c3000&borderColorDefault=%23d19405&bgTextureDefault=gloss_wave&bgColorDefault=%23fece2f&iconColorContent=%23d19405&fcContent=%23383838&borderColorContent=%238e846b&bgTextureContent=highlight_soft&bgColorContent=%23feeebd&iconColorHeader=%23fadc7a&fcHeader=%23ffffff&borderColorHeader=%23494437&bgTextureHeader=gloss_wave&bgColorHeader=%23817865&cornerRadius=0&fwDefault=bold&fsDefault=1.1em&ffDefault=Segoe%20UI%2CArial%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.rer-elw-widget {
  /* Resets the contain background and outer borders */
  /* Resets all border radius */
  /* Resets widget header tabs */
  /* Resets the panel */
  /* Layout helpers
  ----------------------------------*/
  /* Interaction Cues
  ----------------------------------*/
  /* Icons
  ----------------------------------*/
  /* Misc visuals
  ----------------------------------*/
  /* Overlays */
  /* Component containers
  ----------------------------------*/
  /* Interaction states
  ----------------------------------*/
  /* Interaction Cues
  ----------------------------------*/
  /* Icons
  ----------------------------------*/
  /* states and images */
  /* positioning */
  /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
  /* Misc visuals
  ----------------------------------*/
  /* Corner radius */
  /* Overlays */ }
  .rer-elw-widget .ui-widget-content {
    border: none;
    background: none; }
  .rer-elw-widget .ui-widget {
    font-family: inherit;
    font-size: inherit; }
  .rer-elw-widget .ui-corner-all,
  .rer-elw-widget .ui-corner-top,
  .rer-elw-widget .ui-corner-bottom,
  .rer-elw-widget .ui-corner-left,
  .rer-elw-widget .ui-corner-right,
  .rer-elw-widget .ui-corner-br,
  .rer-elw-widget .ui-corner-bl,
  .rer-elw-widget .ui-corner-tr,
  .rer-elw-widget .ui-corner-tl {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .rer-elw-widget .ui-widget-header {
    border: none;
    background: none;
    font-weight: normal;
    color: #000000; }
  .rer-elw-widget .ui-widget-header li {
    border: 0;
    padding: 0;
    margin: 0; }
  .rer-elw-widget .ui-widget-header li a,
  .rer-elw-widget .ui-widget-header li a:link,
  .rer-elw-widget .ui-widget-header li a:visited,
  .rer-elw-widget .ui-widget-header li a,
  .rer-elw-widget .ui-widget-header li a:link,
  .rer-elw-widget .ui-widget-header li a:visited {
    border: none;
    background: none;
    font-weight: normal;
    color: #000000;
    margin: 0;
    padding: 0; }
  .rer-elw-widget .ui-tabs-panel {
    padding: 0; }
  .rer-elw-widget .ui-tabs .ui-tabs-nav li.ui-state-active a:after {
    background: none; }
  .rer-elw-widget .ui-helper-hidden {
    display: none; }
  .rer-elw-widget .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .rer-elw-widget .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none; }
  .rer-elw-widget .ui-helper-clearfix:before,
  .rer-elw-widget .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse; }
  .rer-elw-widget .ui-helper-clearfix:after {
    clear: both; }
  .rer-elw-widget .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
    /* support: IE8 */ }
  .rer-elw-widget .ui-front {
    z-index: 100; }
  .rer-elw-widget .ui-state-disabled {
    cursor: default !important;
    pointer-events: none; }
  .rer-elw-widget .ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat; }
  .rer-elw-widget .ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block; }
  .rer-elw-widget .ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .rer-elw-widget .ui-tabs {
    position: relative;
    /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: .2em; }
  .rer-elw-widget .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    background: #eee; }
  .rer-elw-widget .ui-tabs .ui-tabs-nav li {
    display: flex;
    flex: 1 1 auto;
    list-style: none;
    float: none;
    position: relative;
    top: 0;
    margin: 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap; }
  .rer-elw-widget .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: none;
    padding: .5rem 0;
    width: 100%;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2rem;
    font-size: 1.2vw; }
    @media (max-width: 960px) {
      .rer-elw-widget .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 2vw; } }
    @media (max-width: 720px) {
      .rer-elw-widget .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 3vw; } }
    @media (max-width: 640px) {
      .rer-elw-widget .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 4vw; } }
    @media (max-width: 320px) {
      .rer-elw-widget .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 5vw; } }
  .rer-elw-widget .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 0; }
  .rer-elw-widget .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
  .rer-elw-widget .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
  .rer-elw-widget .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: default; }
  .rer-elw-widget .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer; }
  .rer-elw-widget .ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 0;
    background: none; }
  .rer-elw-widget .ui-tabs .ui-tabs-nav li.ui-state-active a {
    color: #fff; }
  .rer-elw-widget .ui-widget {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 1.1em; }
  .rer-elw-widget .ui-widget .ui-widget {
    font-size: 1em; }
  .rer-elw-widget .ui-widget input,
  .rer-elw-widget .ui-widget select,
  .rer-elw-widget .ui-widget textarea,
  .rer-elw-widget .ui-widget button {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 1em; }
  .rer-elw-widget .ui-widget.ui-widget-content {
    border: none; }
  .rer-elw-widget .ui-widget-content {
    border: 1px solid #8e846b;
    background: none;
    color: #383838; }
  .rer-elw-widget .ui-widget-content a {
    color: #383838; }
  .rer-elw-widget .ui-widget-header {
    border: none;
    background: none;
    color: #ffffff;
    font-weight: bold; }
  .rer-elw-widget .ui-widget-header a {
    color: #ffffff;
    box-shadow: none; }
  .rer-elw-widget .ui-state-default,
  .rer-elw-widget .ui-widget-content .ui-state-default,
  .rer-elw-widget .ui-widget-header .ui-state-default,
  .rer-elw-widget .ui-button,
  .rer-elw-widget html .ui-button.ui-state-disabled:hover,
  .rer-elw-widget html .ui-button.ui-state-disabled:active {
    border: none;
    background: #eee none;
    font-weight: normal;
    color: #333; }
  .rer-elw-widget .ui-state-default a,
  .rer-elw-widget .ui-state-default a:link,
  .rer-elw-widget .ui-state-default a:visited,
  .rer-elw-widget a.ui-button,
  .rer-elw-widget a:link.ui-button,
  .rer-elw-widget a:visited.ui-button,
  .rer-elw-widget .ui-button {
    color: #333;
    text-decoration: none; }
  .rer-elw-widget .ui-state-hover,
  .rer-elw-widget .ui-widget-content .ui-state-hover,
  .rer-elw-widget .ui-widget-header .ui-state-hover,
  .rer-elw-widget .ui-state-focus,
  .rer-elw-widget .ui-widget-content .ui-state-focus,
  .rer-elw-widget .ui-widget-header .ui-state-focus,
  .rer-elw-widget .ui-button:hover,
  .rer-elw-widget .ui-button:focus {
    border: none;
    background: #d5d4d4;
    font-weight: normal;
    color: #1a1919; }
  .rer-elw-widget .ui-state-hover a,
  .rer-elw-widget .ui-state-hover a:hover,
  .rer-elw-widget .ui-state-hover a:link,
  .rer-elw-widget .ui-state-hover a:visited,
  .rer-elw-widget .ui-state-focus a,
  .rer-elw-widget .ui-state-focus a:hover,
  .rer-elw-widget .ui-state-focus a:link,
  .rer-elw-widget .ui-state-focus a:visited,
  .rer-elw-widget a.ui-button:hover,
  .rer-elw-widget a.ui-button:focus {
    color: #1a1919;
    text-decoration: none; }
  .rer-elw-widget .ui-visual-focus {
    box-shadow: 0 0 3px 1px #5e9ed6; }
  .rer-elw-widget .ui-state-active,
  .rer-elw-widget .ui-widget-content .ui-state-active,
  .rer-elw-widget .ui-widget-header .ui-state-active,
  .rer-elw-widget a.ui-button:active,
  .rer-elw-widget .ui-button:active,
  .rer-elw-widget .ui-button.ui-state-active:hover {
    border: none;
    background: #eba21e none;
    font-weight: normal;
    color: #fff; }
  .rer-elw-widget .ui-icon-background,
  .rer-elw-widget .ui-state-active .ui-icon-background {
    border: #655e4e;
    background-color: #0074c7; }
  .rer-elw-widget .ui-state-active a,
  .rer-elw-widget .ui-state-active a:link,
  .rer-elw-widget .ui-state-active a:visited {
    color: #fff;
    text-decoration: none; }
  .rer-elw-widget .ui-state-highlight,
  .rer-elw-widget .ui-widget-content .ui-state-highlight,
  .rer-elw-widget .ui-widget-header .ui-state-highlight {
    border: 1px solid #eeb420;
    background: #fff9e5 none;
    color: #1f1f1f; }
  .rer-elw-widget .ui-state-checked {
    border: 1px solid #eeb420;
    background: #fff9e5; }
  .rer-elw-widget .ui-state-highlight a,
  .rer-elw-widget .ui-widget-content .ui-state-highlight a,
  .rer-elw-widget .ui-widget-header .ui-state-highlight a {
    color: #1f1f1f; }
  .rer-elw-widget .ui-state-error,
  .rer-elw-widget .ui-widget-content .ui-state-error,
  .rer-elw-widget .ui-widget-header .ui-state-error {
    border: 1px solid #ffb73d;
    background: #d34d17 none;
    color: #ffffff; }
  .rer-elw-widget .ui-state-error a,
  .rer-elw-widget .ui-widget-content .ui-state-error a,
  .rer-elw-widget .ui-widget-header .ui-state-error a {
    color: #ffffff; }
  .rer-elw-widget .ui-state-error-text,
  .rer-elw-widget .ui-widget-content .ui-state-error-text,
  .rer-elw-widget .ui-widget-header .ui-state-error-text {
    color: #ffffff; }
  .rer-elw-widget .ui-priority-primary,
  .rer-elw-widget .ui-widget-content .ui-priority-primary,
  .rer-elw-widget .ui-widget-header .ui-priority-primary {
    font-weight: bold; }
  .rer-elw-widget .ui-priority-secondary,
  .rer-elw-widget .ui-widget-content .ui-priority-secondary,
  .rer-elw-widget .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    /* support: IE8 */
    font-weight: normal; }
  .rer-elw-widget .ui-state-disabled,
  .rer-elw-widget .ui-widget-content .ui-state-disabled,
  .rer-elw-widget .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    /* support: IE8 */
    background-image: none; }
  .rer-elw-widget .ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35);
    /* support: IE8 - See #6059 */ }
  .rer-elw-widget .ui-icon {
    width: 16px;
    height: 16px; }
  .rer-elw-widget .ui-icon,
  .rer-elw-widget .ui-widget-content .ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-widget-header .ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-state-hover .ui-icon,
  .rer-elw-widget .ui-state-focus .ui-icon,
  .rer-elw-widget .ui-button:hover .ui-icon,
  .rer-elw-widget .ui-button:focus .ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-state-active .ui-icon,
  .rer-elw-widget .ui-button:active .ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-state-highlight .ui-icon,
  .rer-elw-widget .ui-button .ui-state-highlight.ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-state-error .ui-icon,
  .rer-elw-widget .ui-state-error-text .ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-button .ui-icon {
    background-image: none; }
  .rer-elw-widget .ui-icon-blank {
    background-position: 16px 16px; }
  .rer-elw-widget .ui-icon-caret-1-n {
    background-position: 0 0; }
  .rer-elw-widget .ui-icon-caret-1-ne {
    background-position: -16px 0; }
  .rer-elw-widget .ui-icon-caret-1-e {
    background-position: -32px 0; }
  .rer-elw-widget .ui-icon-caret-1-se {
    background-position: -48px 0; }
  .rer-elw-widget .ui-icon-caret-1-s {
    background-position: -65px 0; }
  .rer-elw-widget .ui-icon-caret-1-sw {
    background-position: -80px 0; }
  .rer-elw-widget .ui-icon-caret-1-w {
    background-position: -96px 0; }
  .rer-elw-widget .ui-icon-caret-1-nw {
    background-position: -112px 0; }
  .rer-elw-widget .ui-icon-caret-2-n-s {
    background-position: -128px 0; }
  .rer-elw-widget .ui-icon-caret-2-e-w {
    background-position: -144px 0; }
  .rer-elw-widget .ui-icon-triangle-1-n {
    background-position: 0 -16px; }
  .rer-elw-widget .ui-icon-triangle-1-ne {
    background-position: -16px -16px; }
  .rer-elw-widget .ui-icon-triangle-1-e {
    background-position: -32px -16px; }
  .rer-elw-widget .ui-icon-triangle-1-se {
    background-position: -48px -16px; }
  .rer-elw-widget .ui-icon-triangle-1-s {
    background-position: -65px -16px; }
  .rer-elw-widget .ui-icon-triangle-1-sw {
    background-position: -80px -16px; }
  .rer-elw-widget .ui-icon-triangle-1-w {
    background-position: -96px -16px; }
  .rer-elw-widget .ui-icon-triangle-1-nw {
    background-position: -112px -16px; }
  .rer-elw-widget .ui-icon-triangle-2-n-s {
    background-position: -128px -16px; }
  .rer-elw-widget .ui-icon-triangle-2-e-w {
    background-position: -144px -16px; }
  .rer-elw-widget .ui-icon-arrow-1-n {
    background-position: 0 -32px; }
  .rer-elw-widget .ui-icon-arrow-1-ne {
    background-position: -16px -32px; }
  .rer-elw-widget .ui-icon-arrow-1-e {
    background-position: -32px -32px; }
  .rer-elw-widget .ui-icon-arrow-1-se {
    background-position: -48px -32px; }
  .rer-elw-widget .ui-icon-arrow-1-s {
    background-position: -65px -32px; }
  .rer-elw-widget .ui-icon-arrow-1-sw {
    background-position: -80px -32px; }
  .rer-elw-widget .ui-icon-arrow-1-w {
    background-position: -96px -32px; }
  .rer-elw-widget .ui-icon-arrow-1-nw {
    background-position: -112px -32px; }
  .rer-elw-widget .ui-icon-arrow-2-n-s {
    background-position: -128px -32px; }
  .rer-elw-widget .ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px; }
  .rer-elw-widget .ui-icon-arrow-2-e-w {
    background-position: -160px -32px; }
  .rer-elw-widget .ui-icon-arrow-2-se-nw {
    background-position: -176px -32px; }
  .rer-elw-widget .ui-icon-arrowstop-1-n {
    background-position: -192px -32px; }
  .rer-elw-widget .ui-icon-arrowstop-1-e {
    background-position: -208px -32px; }
  .rer-elw-widget .ui-icon-arrowstop-1-s {
    background-position: -224px -32px; }
  .rer-elw-widget .ui-icon-arrowstop-1-w {
    background-position: -240px -32px; }
  .rer-elw-widget .ui-icon-arrowthick-1-n {
    background-position: 1px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-ne {
    background-position: -16px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-e {
    background-position: -32px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-se {
    background-position: -48px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-s {
    background-position: -64px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-sw {
    background-position: -80px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-w {
    background-position: -96px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-1-nw {
    background-position: -112px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px; }
  .rer-elw-widget .ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px; }
  .rer-elw-widget .ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px; }
  .rer-elw-widget .ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px; }
  .rer-elw-widget .ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px; }
  .rer-elw-widget .ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px; }
  .rer-elw-widget .ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px; }
  .rer-elw-widget .ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px; }
  .rer-elw-widget .ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px; }
  .rer-elw-widget .ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px; }
  .rer-elw-widget .ui-icon-arrowreturn-1-w {
    background-position: -64px -64px; }
  .rer-elw-widget .ui-icon-arrowreturn-1-n {
    background-position: -80px -64px; }
  .rer-elw-widget .ui-icon-arrowreturn-1-e {
    background-position: -96px -64px; }
  .rer-elw-widget .ui-icon-arrowreturn-1-s {
    background-position: -112px -64px; }
  .rer-elw-widget .ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px; }
  .rer-elw-widget .ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px; }
  .rer-elw-widget .ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px; }
  .rer-elw-widget .ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px; }
  .rer-elw-widget .ui-icon-arrow-4 {
    background-position: 0 -80px; }
  .rer-elw-widget .ui-icon-arrow-4-diag {
    background-position: -16px -80px; }
  .rer-elw-widget .ui-icon-extlink {
    background-position: -32px -80px; }
  .rer-elw-widget .ui-icon-newwin {
    background-position: -48px -80px; }
  .rer-elw-widget .ui-icon-refresh {
    background-position: -64px -80px; }
  .rer-elw-widget .ui-icon-shuffle {
    background-position: -80px -80px; }
  .rer-elw-widget .ui-icon-transfer-e-w {
    background-position: -96px -80px; }
  .rer-elw-widget .ui-icon-transferthick-e-w {
    background-position: -112px -80px; }
  .rer-elw-widget .ui-icon-folder-collapsed {
    background-position: 0 -96px; }
  .rer-elw-widget .ui-icon-folder-open {
    background-position: -16px -96px; }
  .rer-elw-widget .ui-icon-document {
    background-position: -32px -96px; }
  .rer-elw-widget .ui-icon-document-b {
    background-position: -48px -96px; }
  .rer-elw-widget .ui-icon-note {
    background-position: -64px -96px; }
  .rer-elw-widget .ui-icon-mail-closed {
    background-position: -80px -96px; }
  .rer-elw-widget .ui-icon-mail-open {
    background-position: -96px -96px; }
  .rer-elw-widget .ui-icon-suitcase {
    background-position: -112px -96px; }
  .rer-elw-widget .ui-icon-comment {
    background-position: -128px -96px; }
  .rer-elw-widget .ui-icon-person {
    background-position: -144px -96px; }
  .rer-elw-widget .ui-icon-print {
    background-position: -160px -96px; }
  .rer-elw-widget .ui-icon-trash {
    background-position: -176px -96px; }
  .rer-elw-widget .ui-icon-locked {
    background-position: -192px -96px; }
  .rer-elw-widget .ui-icon-unlocked {
    background-position: -208px -96px; }
  .rer-elw-widget .ui-icon-bookmark {
    background-position: -224px -96px; }
  .rer-elw-widget .ui-icon-tag {
    background-position: -240px -96px; }
  .rer-elw-widget .ui-icon-home {
    background-position: 0 -112px; }
  .rer-elw-widget .ui-icon-flag {
    background-position: -16px -112px; }
  .rer-elw-widget .ui-icon-calendar {
    background-position: -32px -112px; }
  .rer-elw-widget .ui-icon-cart {
    background-position: -48px -112px; }
  .rer-elw-widget .ui-icon-pencil {
    background-position: -64px -112px; }
  .rer-elw-widget .ui-icon-clock {
    background-position: -80px -112px; }
  .rer-elw-widget .ui-icon-disk {
    background-position: -96px -112px; }
  .rer-elw-widget .ui-icon-calculator {
    background-position: -112px -112px; }
  .rer-elw-widget .ui-icon-zoomin {
    background-position: -128px -112px; }
  .rer-elw-widget .ui-icon-zoomout {
    background-position: -144px -112px; }
  .rer-elw-widget .ui-icon-search {
    background-position: -160px -112px; }
  .rer-elw-widget .ui-icon-wrench {
    background-position: -176px -112px; }
  .rer-elw-widget .ui-icon-gear {
    background-position: -192px -112px; }
  .rer-elw-widget .ui-icon-heart {
    background-position: -208px -112px; }
  .rer-elw-widget .ui-icon-star {
    background-position: -224px -112px; }
  .rer-elw-widget .ui-icon-link {
    background-position: -240px -112px; }
  .rer-elw-widget .ui-icon-cancel {
    background-position: 0 -128px; }
  .rer-elw-widget .ui-icon-plus {
    background-position: -16px -128px; }
  .rer-elw-widget .ui-icon-plusthick {
    background-position: -32px -128px; }
  .rer-elw-widget .ui-icon-minus {
    background-position: -48px -128px; }
  .rer-elw-widget .ui-icon-minusthick {
    background-position: -64px -128px; }
  .rer-elw-widget .ui-icon-close {
    background-position: -80px -128px; }
  .rer-elw-widget .ui-icon-closethick {
    background-position: -96px -128px; }
  .rer-elw-widget .ui-icon-key {
    background-position: -112px -128px; }
  .rer-elw-widget .ui-icon-lightbulb {
    background-position: -128px -128px; }
  .rer-elw-widget .ui-icon-scissors {
    background-position: -144px -128px; }
  .rer-elw-widget .ui-icon-clipboard {
    background-position: -160px -128px; }
  .rer-elw-widget .ui-icon-copy {
    background-position: -176px -128px; }
  .rer-elw-widget .ui-icon-contact {
    background-position: -192px -128px; }
  .rer-elw-widget .ui-icon-image {
    background-position: -208px -128px; }
  .rer-elw-widget .ui-icon-video {
    background-position: -224px -128px; }
  .rer-elw-widget .ui-icon-script {
    background-position: -240px -128px; }
  .rer-elw-widget .ui-icon-alert {
    background-position: 0 -144px; }
  .rer-elw-widget .ui-icon-info {
    background-position: -16px -144px; }
  .rer-elw-widget .ui-icon-notice {
    background-position: -32px -144px; }
  .rer-elw-widget .ui-icon-help {
    background-position: -48px -144px; }
  .rer-elw-widget .ui-icon-check {
    background-position: -64px -144px; }
  .rer-elw-widget .ui-icon-bullet {
    background-position: -80px -144px; }
  .rer-elw-widget .ui-icon-radio-on {
    background-position: -96px -144px; }
  .rer-elw-widget .ui-icon-radio-off {
    background-position: -112px -144px; }
  .rer-elw-widget .ui-icon-pin-w {
    background-position: -128px -144px; }
  .rer-elw-widget .ui-icon-pin-s {
    background-position: -144px -144px; }
  .rer-elw-widget .ui-icon-play {
    background-position: 0 -160px; }
  .rer-elw-widget .ui-icon-pause {
    background-position: -16px -160px; }
  .rer-elw-widget .ui-icon-seek-next {
    background-position: -32px -160px; }
  .rer-elw-widget .ui-icon-seek-prev {
    background-position: -48px -160px; }
  .rer-elw-widget .ui-icon-seek-end {
    background-position: -64px -160px; }
  .rer-elw-widget .ui-icon-seek-start {
    background-position: -80px -160px; }
  .rer-elw-widget .ui-icon-seek-first {
    background-position: -80px -160px; }
  .rer-elw-widget .ui-icon-stop {
    background-position: -96px -160px; }
  .rer-elw-widget .ui-icon-eject {
    background-position: -112px -160px; }
  .rer-elw-widget .ui-icon-volume-off {
    background-position: -128px -160px; }
  .rer-elw-widget .ui-icon-volume-on {
    background-position: -144px -160px; }
  .rer-elw-widget .ui-icon-power {
    background-position: 0 -176px; }
  .rer-elw-widget .ui-icon-signal-diag {
    background-position: -16px -176px; }
  .rer-elw-widget .ui-icon-signal {
    background-position: -32px -176px; }
  .rer-elw-widget .ui-icon-battery-0 {
    background-position: -48px -176px; }
  .rer-elw-widget .ui-icon-battery-1 {
    background-position: -64px -176px; }
  .rer-elw-widget .ui-icon-battery-2 {
    background-position: -80px -176px; }
  .rer-elw-widget .ui-icon-battery-3 {
    background-position: -96px -176px; }
  .rer-elw-widget .ui-icon-circle-plus {
    background-position: 0 -192px; }
  .rer-elw-widget .ui-icon-circle-minus {
    background-position: -16px -192px; }
  .rer-elw-widget .ui-icon-circle-close {
    background-position: -32px -192px; }
  .rer-elw-widget .ui-icon-circle-triangle-e {
    background-position: -48px -192px; }
  .rer-elw-widget .ui-icon-circle-triangle-s {
    background-position: -64px -192px; }
  .rer-elw-widget .ui-icon-circle-triangle-w {
    background-position: -80px -192px; }
  .rer-elw-widget .ui-icon-circle-triangle-n {
    background-position: -96px -192px; }
  .rer-elw-widget .ui-icon-circle-arrow-e {
    background-position: -112px -192px; }
  .rer-elw-widget .ui-icon-circle-arrow-s {
    background-position: -128px -192px; }
  .rer-elw-widget .ui-icon-circle-arrow-w {
    background-position: -144px -192px; }
  .rer-elw-widget .ui-icon-circle-arrow-n {
    background-position: -160px -192px; }
  .rer-elw-widget .ui-icon-circle-zoomin {
    background-position: -176px -192px; }
  .rer-elw-widget .ui-icon-circle-zoomout {
    background-position: -192px -192px; }
  .rer-elw-widget .ui-icon-circle-check {
    background-position: -208px -192px; }
  .rer-elw-widget .ui-icon-circlesmall-plus {
    background-position: 0 -208px; }
  .rer-elw-widget .ui-icon-circlesmall-minus {
    background-position: -16px -208px; }
  .rer-elw-widget .ui-icon-circlesmall-close {
    background-position: -32px -208px; }
  .rer-elw-widget .ui-icon-squaresmall-plus {
    background-position: -48px -208px; }
  .rer-elw-widget .ui-icon-squaresmall-minus {
    background-position: -64px -208px; }
  .rer-elw-widget .ui-icon-squaresmall-close {
    background-position: -80px -208px; }
  .rer-elw-widget .ui-icon-grip-dotted-vertical {
    background-position: 0 -224px; }
  .rer-elw-widget .ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px; }
  .rer-elw-widget .ui-icon-grip-solid-vertical {
    background-position: -32px -224px; }
  .rer-elw-widget .ui-icon-grip-solid-horizontal {
    background-position: -48px -224px; }
  .rer-elw-widget .ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px; }
  .rer-elw-widget .ui-icon-grip-diagonal-se {
    background-position: -80px -224px; }
  .rer-elw-widget .ui-corner-all,
  .rer-elw-widget .ui-corner-top,
  .rer-elw-widget .ui-corner-left,
  .rer-elw-widget .ui-corner-tl {
    border-top-left-radius: 0; }
  .rer-elw-widget .ui-corner-all,
  .rer-elw-widget .ui-corner-top,
  .rer-elw-widget .ui-corner-right,
  .rer-elw-widget .ui-corner-tr {
    border-top-right-radius: 0; }
  .rer-elw-widget .ui-corner-all,
  .rer-elw-widget .ui-corner-bottom,
  .rer-elw-widget .ui-corner-left,
  .rer-elw-widget .ui-corner-bl {
    border-bottom-left-radius: 0; }
  .rer-elw-widget .ui-corner-all,
  .rer-elw-widget .ui-corner-bottom,
  .rer-elw-widget .ui-corner-right,
  .rer-elw-widget .ui-corner-br {
    border-bottom-right-radius: 0; }
  .rer-elw-widget .ui-widget-overlay {
    background: #5c5c5c;
    opacity: .8;
    filter: Alpha(Opacity=80);
    /* support: IE8 */ }
  .rer-elw-widget .ui-widget-shadow {
    -webkit-box-shadow: -7px -7px 7px #cccccc;
    box-shadow: -7px -7px 7px #cccccc; }

/** VARS */
/** END VARS */
.elw-app {
  min-width: 200px;
  max-width: 800px; }
  .elw-app .elw-content-iframe iframe {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden; }
  .elw-app .elw-title {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-weight: bold; }
  .elw-app .elw-nav {
    display: flex; }
    .elw-app .elw-nav > li {
      flex: 1 1 auto; }
    .elw-app .elw-nav > li > a {
      outline: none;
      text-align: center;
      border-bottom: none; }
  .elw-app .elw-content {
    border: 1px solid #333;
    position: relative; }
  .elw-app .elw-listing > div > div:nth-child(even) {
    background-color: #f7f6f6; }
  .elw-app .elw-listing > div > div:nth-child(odd) {
    background-color: #fff; }
  .elw-app .elw-event-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    outline: none;
    cursor: pointer; }
    .elw-app .elw-event-item:hover {
      background: #fff7ce !important; }
    .elw-app .elw-event-item .elw-item-logo {
      width: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5px; }
      .elw-app .elw-event-item .elw-item-logo img {
        -webkit-box-shadow: none;
        box-shadow: none; }
      .elw-app .elw-event-item .elw-item-logo a {
        text-decoration: none;
        text-shadow: none;
        box-shadow: none; }
      .elw-app .elw-event-item .elw-item-logo .elw-event-name {
        font-size: 27px;
        font-weight: bold;
        line-height: 27px;
        color: #eba21e; }
      .elw-app .elw-event-item .elw-item-logo .elw-hot-flag {
        background: #ffae00;
        border: 1px solid #333;
        font-size: 10px;
        font-weight: bold;
        padding: 0 2px; }
    .elw-app .elw-event-item .elw-item-desc {
      max-width: 200px;
      font-size: 12px; }
    .elw-app .elw-event-item .elw-item-time {
      display: flex;
      max-width: 150px;
      justify-content: center; }
      .elw-app .elw-event-item .elw-item-time .elw-c-item {
        display: flex;
        flex-direction: column;
        color: #eba21e;
        align-items: center;
        justify-content: center;
        padding: 0 7px; }
        .elw-app .elw-event-item .elw-item-time .elw-c-item .elw-c-val {
          font-size: 27px;
          font-weight: normal; }
        .elw-app .elw-event-item .elw-item-time .elw-c-item .elw-c-label {
          font-size: 10px;
          font-weight: normal;
          color: #337ab7; }
      .elw-app .elw-event-item .elw-item-time .elw-d-item {
        padding: 0 7px;
        display: flex;
        align-items: center;
        font-size: 27px;
        color: #eba21e;
        font-weight: normal; }
      .elw-app .elw-event-item .elw-item-time .elw-p-item {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .elw-app .elw-event-item .elw-item-time .elw-p-item .elw-p-val {
          width: 100px;
          height: 13px;
          background: #fff;
          border: 1px solid #333; }
        .elw-app .elw-event-item .elw-item-time .elw-p-item .elw-p-bar {
          height: 100%;
          background: #eba21e; }
        .elw-app .elw-event-item .elw-item-time .elw-p-item .elw-p-label {
          position: absolute;
          bottom: -20px;
          left: 0;
          width: 100px;
          text-align: center;
          font-weight: normal;
          font-size: 10px;
          color: #333; }
    .elw-app .elw-event-item .elw-item-more {
      min-width: 120px;
      max-width: 150px;
      display: block;
      padding: 2px;
      background: #e1e1e1;
      color: #000;
      border: 1px solid #888888;
      font-size: 12px;
      text-align: center;
      cursor: pointer; }
      .elw-app .elw-event-item .elw-item-more:hover {
        background: #aeaeae; }
  .elw-app .elw-listing {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column; }
    .elw-app .elw-listing .elw-listing-empty {
      margin: auto 0;
      align-self: center;
      text-align: center;
      font-weight: bold;
      font-size: 27px;
      color: #eba21e; }
  .elw-app .elw-pagination {
    margin: 0;
    padding: 7px 0 0;
    list-style: none;
    display: block;
    text-align: center; }
    .elw-app .elw-pagination > li {
      width: 35px;
      height: 35px;
      margin: 0 15px;
      border-radius: 50%;
      background: #eba21e;
      display: inline-block; }
      .elw-app .elw-pagination > li.disabled {
        background: #bbb !important; }
      .elw-app .elw-pagination > li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center; }
        .elw-app .elw-pagination > li a:hover {
          background: #c58511;
          color: #e6e5e5; }
      .elw-app .elw-pagination > li.prev {
        border-right: 1px solid #848484; }
      .elw-app .elw-pagination > li.next {
        border-left: 1px solid #848484; }
      .elw-app .elw-pagination > li span.elw-arrow {
        font-size: 35px;
        width: 35px;
        height: 35px;
        color: #fff; }
      .elw-app .elw-pagination > li .dashicons, .elw-app .elw-pagination > li .dashicons-before:before {
        display: block; }
  .elw-app .elw-powered-by {
    padding: 0 4px;
    background: #bbb;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase; }
    .elw-app .elw-powered-by a {
      color: #333;
      text-decoration: none;
      box-shadow: none; }
      .elw-app .elw-powered-by a:hover {
        text-decoration: none;
        cursor: pointer; }

/*# sourceMappingURL=elw.front.css.map */